<% @products.each do |product| %>
  <h2><%= product["name"] %></h2>
  <img src="<%= product["images"][0]["url"] %>" alt="" width=100>
  <h3><%= product["price"] %></h3>
  <% if product["is_discounted"] %>
    <p>Discount item!!!</p>
  <% end %>
  <h4><%= product["description"] %></h4>
  <a href="/client/products/<%= product["id"] %>">View more</a>
<% end %>
