<%= form_with url: "/client/products", method: :post, local: true do %>
<% if @product["errors"] %>
  <div id="error_explanation">
    <h2><%= pluralize(@product["errors"].count, "error") %> prohibited this product from being saved:</h2>
 
    <ul>
    <% @product["errors"].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div>
    Name: <input type="text" name="name" value="<%= @product['name'] %>" />
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @product['price'] %>" />
  </div>
  <div>
    Image: <input type="text" name="image_url" value="<%= @product['image_url'] %>" />
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product['description'] %>" />
  </div>
  <input type="submit" name="" value="Create product" />
<% end %>
