<h2><%= @product["name"] %></h2>
<img src="<%= @product["image_url"] %>" alt="" width=100>
<h3><%= @product["price"] %></h3>
<h4><%= @product["description"] %></h4>
<a href="/client/products/<%= @product['id'] %>/edit">Edit product</a>
<a href="/client/products">Back to all products</a>
