<h2><%= @product["name"] %></h2>
<% @product["images"].each do |image| %>
  <img src="<%= image["url"] %>" alt="" width=100>
<% end %>
<h3><%= @product["price"] %></h3>
<h4><%= @product["description"] %></h4>
<h4>Supplier: <%= @product["supplier"]["name"] %></h4>

<%= form_tag "/client/orders", method: :post do %>
  <input type="hidden" name="product_id" value="<%= @product['id'] %>">
  Quantity: <input type="text" name="quantity">
  <input type="submit" value="Buy now!">
<% end %>

<a href="/client/products/<%= @product['id'] %>/edit">Edit product</a>
<%= form_tag "/client/products/#{@product['id']}", method: :delete do %>
  <input type="submit" value="Destroy product">
<% end %>
<a href="/client/products">Back to all products</a>
